# Phoenix backend
/backend/_build
/backend/deps
/backend/*.ez
/backend/erl_crash.dump
/backend/log
/backend/tmp
/backend/cover
/backend/test/tmp
/backend/test/*.beam
/backend/config/*.secret.exs
/backend/.elixir_ls

# If you later add frontend in /frontend
/frontend/node_modules
/frontend/dist
/frontend/.cache

# Docker
*.pid
*.seed

# OS + editor
.DS_Store
Thumbs.db
.idea/
.vscode/

